.navbar {
    flex-direction: column;
    position: fixed;
    width: 10%;
    height: 100%;
    background-color: #001450;
}

.navbar.expanded {
    width: 20%;
}

.sign-out {
    margin-top: 80%;
}

.navbar img {
    position: absolute;
    margin-top: 60px;
    max-width: 100px;
    margin-left: 10px;
}
